@media only screen and (max-width:960px) {
html,
body {
  font-size: 16px;
}
}
body {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}
header {
  border: 2px solid;
  display: flex;
  background-color: black;
  width: 98%;
  color: white;
  justify-content: flex-start;
  align-items: center;
  padding: 0.66rem;
}
header img {
  margin-left: 15rem;
  width: 2rem;
  height: 1.5rem;
}
header h4 {
  margin-left: 1.5rem;
  font-size: 1rem;
}
@media screen only and (min-with: 470px) {
  .banner {
    height: 10rem;
  }
}
.banner {
  border: 2px solid;
  background-image: url("../images/moto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 25rem;

}
.new {
  display: block;
  width: 20rem;
  height: 9rem;
  margin-left: 15rem;
  margin-top: 9rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2rem 3rem;
}
@media screen only and (min-width: 480px) {
  .new h1 {
    font-size: 1rem;
  }
}
.new h1 {
  font-size: 2rem;
}
.new h3 {
  font-size: 1rem;
}
.nav {

  display: flex;
  background-color: firebrick;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 960px;
  margin: auto;

}
@media only screen and (max-width: 960px) {
  .item {
    min-width: 47%;
  }
}
.item {
  border: 4px solid black;
  display: block;
  width: 30%;
  margin-top: 3rem;
}
.item img {
  height: 9rem;
  display: block;
  padding: 2rem;
  margin: auto;
}
.description {
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
}
.info {
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 35%;
  align-items: flex-start;
}
.info span {
  background-color: black;
  display: block;
  text-align: left;
  padding: 1rem 0 1rem 2rem;
}
.info p {
  color: black;
}
footer {
  background-color: black;
  padding-left: 15rem;
  height: 10rem;
  display: flex;
  align-items: center;

}
